.header {
  /* backdrop-filter: blur(5px);  */
  /* box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.253);  */
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);

}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.199);

}


::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.199);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.199);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.199);
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px rgba(0, 0, 0, 0.199);
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.199);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(255, 255, 255, 0.199);
}

