.H1
{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
h2
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.image 
{
    width: 30%;
    height: 30%;
    border-radius: 8%;
    margin-left:90px;
    margin-top: 60px;
}
.P1
{
    font-size:x-large;
    text-align: left;
    color: white;
    text-align: left;
    padding-left: 3%;
    margin-top: 60px;
    margin-left: -100px;

    
}
.imgp1
{
    display: flex;
    line-height: 1.5;
    
}
.image1
{
    width: 20%;
    height: 20%;
    border-radius: 8%;
    margin-left: 120px;
    margin-top: 60px;
}
.H3
{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: -180px;
    margin-left: -300px;    
}
.H4
{
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 240px;
    margin-left: 90px;    
}

