.side-bar{
  background-color: green;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
}
nav a{
  list-style-type: none;
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
nav a:hover{
  background-color: rgba(0, 0, 0, 0.233);
}
nav .active {
  background-color: rgba(0, 0, 0, 0.233) !important;
  color: rgb(209 213 219);
}
.icon{
  font-size: 20px;
  color: white;
  width: 20px;
  height: 20px;
}